@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family:  'Montserrat', sans-serif;
  background-color: #f2edea;
}

button {
  font-family: 'Montserrat', sans-serif;
  border:0;
  background:unset;
}